/*#external css file */

/*GLOBAL */

/*#global styles*/

* {
    /* use #roboto #font */
    font-family: 'Roboto', 'Arial', sans-serif;

     /* #sweat take care of #spacing between various elements */
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F5F5F5;
}

/* # sweat #uppercase buttons and w3w locations */
button, strong {
    text-transform: uppercase;
    color: black;
}



/* APP BAR */

/* #sweat address both #app-bar s */
h1 {
    background-color: #3F51B5;
    color: white;
    font-size: x-large;
    font-family: Arial, sans-serif;
    font-weight: bold;
    height: 70px;
    line-height: 70px; 
    padding-left: 70px;
      
}


/* DESIGN OF NEW LAYOUTS FOR OUR CHATTER APP */

/* LEFT Layout OF Channel area */

/* CHANNELS LIST */

/* #sweat #channels */
ul {
    /* #channels #list modifies h2 to ul */
    background-color: white;
    /* #channels #bullets removed */
    list-style-type: none;
    margin-top: 70px;
    margin-bottom: 0px;
}

li {
    /* #channel #tile geometry */
    box-sizing: content-box;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    /* #channel tiles are separated by #lines */
    border-bottom: 1px solid #F5F5F5; 
}

/* active #channel is #highlighted */
li.selected {
    color: #3F51B5;
    border-left: 4px solid #3F51B5;
}


/* add styles to #tab-bar #buttons */
#tab-bar button {
    background-color: white;
    border: none;
    font-size: 13px;

    /* #tab-bar buttons have a width of #one-third of the available space */
    width: 33%;
    height: 60px;
    padding: 16px;
}

/* #tab-bar buttons do have a #line-break and images are centered due to the left&right auto margin */
#tab-bar button img {
    display: block;
    margin: 0 auto 4px auto;
}

/* the selected #tab-bar #button is #highlighted */
#tab-bar button.selected {
    color: #3F51B5;
}

#channels {
/*for the */
    position: absolute;
    width: 40%;
    right: 60%;
    height: 100%;
    overflow: auto; 
    background-color: white;
}

 h1 img {
/* for the channel list app bar icon */
    position: absolute;
    right: 15px;
    left: 15px;
    top: 15px;
}

#channels h1 {
/* for channels app bar*/
    position: fixed;
    width: 100%;
}

.channel-meta {
    /* #middle vertical alignment of icons in the #channels list */
    position: absolute;
    right: 8px;
    vertical-align: middle;
    display: inline; 
}


/* RIGHT Layout OF Chats area */


#chat {
    /* for the chat area layout*/
        position: absolute;
        left: 40%;
        width: 60%;
        height: 100%;
        overflow: auto;
    }
    
    #chat h1 {
    /* for right app bar */
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    position: fixed;
    }
    
    .message button {
    /*Placing message time left button on right with position*/
        position: absolute;
        right: 8px;
        bottom: 8px;
        display: inline;
    }
    
    .message h3 {
    /* to display metadata evenly and aligned to bottom*/
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex: 1; 
        text-align: center;
    }
    
    .message a{
    /* creating a column for locations*/
        width: 40%;
        text-align: left;
    }
    
    .message em {
    /* creating a column for time left*/
        width: 25%;
        text-align: right;
    }
    
    /* TAB BAR */
    
    
    /* #sweat #tab-bar */
    #tab-bar, #chat-bar {
        /* #tab-bar #container should be white */
        background-color: white;
        /* #tab-bar #container has all buttons centered */
        text-align: center;
        /* to evenly distribute the tab bar buttons*/
        
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: absolute;
        bottom: 0px;
        flex: 1;
        width: 100%;
        height: 100%;
        left: 0;
        height: 60px;
    }
    
      #emojis {
        /*Emojis box*/
        display: flex;
        justify-content: initial;
        background-color: white;
        padding: 16px;
        border: 1px solid black;
        height: 300px;
        width: 300px;
        font-size: 28px;
        text-align: left;
        overflow: auto;
        position: absolute;
        left: 16px;
        bottom: 284px;
    }
    
/* MESSAGES */
/* select #specific #messages by class and re-assign element styles according to their #hierarchy in a nested way */
.message {
    /* #chat #width*/
    width: 80%;

    /* align all #messages using #margins */
    margin-left: 2.5%;

    /* #message distance to next message container*/
    margin-bottom: 8px;
    position: relative;
    top: 70px;
}


.message h3 {
    font-size: medium;
}

.message h3 em {
    font-size: larger;
    font-style: normal;
}

.message h3 a {
    /* #chat #link color is primary text */
    color: black;
}

.message p {
    background-color: white;
    padding: 16px;
}

.message button {
    background-color: #CDDC39;
    color: black;
    text-transform: uppercase;
}

/* left align own #messages using #margins */
.message.own {
    margin-left: 17.5%;
}
